:root {
    --coach-blue: #0d6efd;
    --coach-indigo: #672ebb;
    --coach-purple: #6f42c1;
    --coach-pink: #d63384;
    --coach-red: #ea4336;
    --coach-orange: #ff5938;
    --coach-yellow: #ffc107;
    --coach-green: #24a148;
    --coach-teal: #20c997;
    --coach-cyan: #17a2b8;
    --coach-black: #261f44;
    --coach-gray: #6f6985;
    --coach-gray-dark: #565266;
    --coach-gray-100: #f4f4f5;
    --coach-gray-200: #eae9ec;
    --coach-gray-300: #d5d4d9;
    --coach-gray-400: #aaa8b3;
    --coach-gray-500: #bbb9cc;
    --coach-gray-600: #6f6985;
    --coach-gray-700: #59536d;
    --coach-gray-800: #565266;
    --coach-gray-900: #261f44;
    --coach-primary: #ff5938;
    --coach-secondary: #672ebb;
    --coach-success: #24a148;
    --coach-info: #17a2b8;
    --coach-warning: #ffc107;
    --coach-danger: #ea4336;
    --coach-light: #f4f4f5;
    --coach-dark: #261f44;
    --coach-white: #fff;
    --coach-light-primary: #ffeae6;
    --coach-light-danger: #ffebea;
    --coach-light-info: #d0ffff;
    --coach-light-warning: #fff6e1;
    --coach-light-secondary: #ebddff;
    --coach-light-success: #e8fff3;
    --coach-primary-rgb: 255,89,56;
    --coach-secondary-rgb: 103,46,187;
    --coach-success-rgb: 36,161,72;
    --coach-info-rgb: 23,162,184;
    --coach-warning-rgb: 255,193,7;
    --coach-danger-rgb: 234,67,54;
    --coach-light-rgb: 244,244,245;
    --coach-dark-rgb: 38,31,68;
    --coach-light-primary-rgb: 255,234,230;
    --coach-light-danger-rgb: 255,235,234;
    --coach-light-info-rgb: 208,255,255;
    --coach-light-warning-rgb: 255,246,225;
    --coach-light-secondary-rgb: 235,221,255;
    --coach-light-success-rgb: 232,255,243;
    --coach-primary-text-emphasis: #662416;
    --coach-secondary-text-emphasis: #29124b;
    --coach-success-text-emphasis: #0e401d;
    --coach-info-text-emphasis: #09414a;
    --coach-warning-text-emphasis: #664d03;
    --coach-danger-text-emphasis: #5e1b16;
    --coach-light-text-emphasis: #59536d;
    --coach-dark-text-emphasis: #59536d;
    --coach-primary-bg-subtle: #ffded7;
    --coach-secondary-bg-subtle: #e1d5f1;
    --coach-success-bg-subtle: #d3ecda;
    --coach-info-bg-subtle: #d1ecf1;
    --coach-warning-bg-subtle: #fff3cd;
    --coach-danger-bg-subtle: #fbd9d7;
    --coach-light-bg-subtle: #fafafa;
    --coach-dark-bg-subtle: #aaa8b3;
    --coach-primary-border-subtle: #ffbdaf;
    --coach-secondary-border-subtle: #c2abe4;
    --coach-success-border-subtle: #a7d9b6;
    --coach-info-border-subtle: #a2dae3;
    --coach-warning-border-subtle: #ffe69c;
    --coach-danger-border-subtle: #f7b4af;
    --coach-light-border-subtle: #eae9ec;
    --coach-dark-border-subtle: #bbb9cc;
    --coach-white-rgb: 255,255,255;
    --coach-black-rgb: 38,31,68;
    --coach-font-sans-serif: "Schibsted Grotesk",sans-serif;
    --coach-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --coach-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
    --coach-body-font-family: var(--coach-font-sans-serif);
    --coach-body-font-size: 1rem;
    --coach-body-font-weight: 400;
    --coach-body-line-height: 1.6;
    --coach-body-color: #6f6985;
    --coach-body-color-rgb: 111,105,133;
    --coach-body-bg: #fff;
    --coach-body-bg-rgb: 255,255,255;
    --coach-emphasis-color: #261f44;
    --coach-emphasis-color-rgb: 38,31,68;
    --coach-secondary-color: rgba(111,105,133,.75);
    --coach-secondary-color-rgb: 111,105,133;
    --coach-secondary-bg: #eae9ec;
    --coach-secondary-bg-rgb: 234,233,236;
    --coach-tertiary-color: rgba(111,105,133,.5);
    --coach-tertiary-color-rgb: 111,105,133;
    --coach-tertiary-bg: #f4f4f5;
    --coach-tertiary-bg-rgb: 244,244,245;
    --coach-heading-color: var(--coach-gray-900);
    --coach-link-color: #ff5938;
    --coach-link-color-rgb: 255,89,56;
    --coach-link-decoration: none;
    --coach-link-hover-color: #cc472d;
    --coach-link-hover-color-rgb: 204,71,45;
    --coach-code-color: #d63384;
    --coach-highlight-color: #6f6985;
    --coach-highlight-bg: #fff3cd;
    --coach-border-width: 1px;
    --coach-border-style: solid;
    --coach-border-color: #eae9ec;
    --coach-border-color-translucent: #eae9ec;
    --coach-border-radius: 0.375rem;
    --coach-border-radius-sm: 0.25rem;
    --coach-border-radius-lg: 0.5rem;
    --coach-border-radius-xl: 1rem;
    --coach-border-radius-xxl: 2rem;
    --coach-border-radius-2xl: var(--coach-border-radius-xxl);
    --coach-border-radius-pill: 50rem;
    --coach-box-shadow: 0 0.5rem 1rem rgba(38,31,68,.15);
    --coach-box-shadow-sm: 0 0.125rem 0.25rem rgba(38,31,68,.075);
    --coach-box-shadow-lg: 0 1rem 3rem rgba(38,31,68,.175);
    --coach-box-shadow-inset: inset 0 1px 2px rgba(38,31,68,.075);
    --coach-focus-ring-width: 0.25rem;
    --coach-focus-ring-opacity: 0.25;
    --coach-focus-ring-color: rgba(255,89,56,.25);
    --coach-form-valid-color: #24a148;
    --coach-form-valid-border-color: #24a148;
    --coach-form-invalid-color: #ea4336;
    --coach-form-invalid-border-color: #ea4336;
}

.letter-spaced{
    letter-spacing: 1px;
}



/* Effet glass morphine */
.liquide-glass {
    background-color:rgba(255, 255, 255, .1);
    -webkit-backdrop-filter:blur(10px);
    backdrop-filter: blur(10px);
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250vh;
    background: linear-gradient(60deg, #672ebb 30%, #8a8a8aa2, #672ebb);
}

.bordure-bas {
    border-bottom: 6px solid var(--coach-indigo);
}

.video {
    width: 80%;
    height: 70vh;
    background: url('/images/fitness-video-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin: -150px auto 0 auto;
}

.rond {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background:#ffff;
}

.rond:hover{
    background-color: var(--coach-link-hover-color);
}

i:hover{
    color: var(--coach-body-bg) !important;
}

.back-couleur{
    background-color: var(--coach-light);
}

.image-arrondi{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.mw-500 {
  max-width: 900px;
}

@media (max-width: 767px) {
    .video {
         margin-top: -150px;
    }
}
